<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginstyle.css') }}">
        <script src="{{ url_for('static', filename='databasescript.js') }}" defer></script> 
    </head>
<body>
    <div class="container">
        <h2>Login</h2>

        {% if success == "false" %} 
            <div class="ErrorMsg">
                <h1>The entered username or password combo was invalid. Please try again.</h1>
                <p>If you do not have an account yet, sign up!</p>
            </div>
        {% endif %}

        <form method="post" id="loginForm" onsubmit="saveCredentials()">
            <div>
                <label>Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
            <p>Don't have an account? <a href="{{ url_for('signup') }}" target="_blank">Sign up!</a></p>
        </form>
    </div>
</body>
</html>
