<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="loginstyle.css">
</head>
<body>
  <div>
    <h2>Sign Up</h2>
    <form>
      <div class="form-group">
        <label for="new-username">Username:</label>
        <input type="text" id="new-username" name="new-username" required>
      </div>
      <div class="form-group">
        <label for="new-password">Password:</label>
        <input type="password" id="new-password" name="new-password" required>
      </div>
      <p id="jsontext"></p>
      <div class="form-group">
        <input type="submit" id="signup" value="Sign Up">
      </div>
    </form>
  </div>
  <script>
    var input1 = document.getElementById("new-username");
    var input2 = document.getElementById("new-password");
    var signup = document.getElementById("signup")
    var jsonText = document.getElementById("jsontext")
    
    signup.addEventListener("click", function(){
        var data = {
            "username":input1.value,
            "password":input2.value
        }
        jsonText.innerHTML = JSON.stringify(data)
    })
    </script>
</body>
</html>