<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up for Studentify</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signupstyle.css') }}">
        <script src="{{ url_for('static', filename='databasescript.js') }}" defer></script> 
    </head>
<body>
    <div class="title">
        <h1>~ Studentify ~</h1>
    </div>
    
    <div class="headline">
        <h3>Imagine a place for students...</h3>
        <p>Where students can collaborate on problems together...</p>
        <p>Where students can find others like them and unite...</p>
        <h3><b>That place is Studentify.</b></h3>
    </div>

    <div class="main">
        <p class="sign" align="center">Sign Up</p>

        {% if success == "false" %} 
            <div class="ErrorMsg">
                <p>Incorrect Username or Password. Please try again.</p>
            </div>
        {% endif %}

        <form method="post" id="loginForm" class="form1" onsubmit="saveCredentials()">
            <div>
                <input class="un" type="text" placeholder="Your Discord Username" id="new-username" name="new-username" align="center" required>
            </div>
            <div>
                <input class="pass" type="password" placeholder="Password" id="new-password" name="new-password" align="center" required>
            </div>
            <div>
                <input class="submit" type="submit" value="Sign Up!" align="center">
            </div>
            <p align="center">Already have an account? <a href="{{ url_for('login', success='~') }}">Log in!</a></p>
        </form>
    </div>
</body>
</html>